<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Movie</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<style type="text/css">
  
.its:hover{

  transform:scale(1.2);
  transition:all .5s ease;
  box-shadow:none; 
}

::placeholder{

  color:white;
  font-size:20px;
  opacity:20;
} 
.inputs:hover{

  border-color:red;

}
body{

  background: black;
} 

</style>
</head>
<body>
  <div style="padding-top:10px" align="center"> 
 

 <form action="/findMovies" method="POST">

 <input placeholder="Search Movies" type="text" name="movie" style="width:400px;height:50px;background:black;color:white;border-radius:30px;outline:none;padding:0 30px;font-size:20px;" class="inputs" required>
  <button class="btn btn-lg btn-danger" style="border-radius:30px;transform:translateY(-3px)"><i class="fas fa-search"></i></button>

 </form>
</div>
<div style="padding-top:70px;padding-bottom:50px;">
<div style="border-radius:20px;background:black;">
{%if lens>1%}    
 
 <table class="table">
  <thead>
    <tr style="color:white">
      <th scope="col"><i class="fas fa-film"></i></th>
      <th scope="col">Movie</th>
      <th scope="col">Uploaded</th>
      <th scope="col">Size</th>

      <th scope="col">Seeders</th>
      <th scope="col">leechers</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
 {%for i in range(lens)%}
  {%if not items[i].find("td",class_="vertTh")==None%} 
    <tr style="color:white;">
      <th scope="row"><i class="fas fa-hand-point-right" style="color:maroon"></i></th>
      <td>{{items[i].find("td",class_="vertTh").find_next_sibling().get_text()}}</td>
      <td>{{items[i].find("td",class_="vertTh").find_next_sibling().find_next_sibling().get_text()}}</td>
      <td>{{items[i].find("td",class_="vertTh").find_next_sibling().find_next_sibling().find_next_sibling().find_next_sibling().get_text().replace("B","").replace("i","B")}}</td>
      <td style="text-align:center;">{{items[i].find("td",class_="vertTh").find_next_sibling().find_next_sibling().find_next_sibling().find_next_sibling().find_next_sibling()
   .get_text()}}</td>
      <td style="text-align:center;">{{items[i].find("td",class_="vertTh").find_next_sibling().find_next_sibling().find_next_sibling().find_next_sibling().find_next_sibling().
    find_next_sibling().get_text()}}</td>
      <td style="text-align:center;"><div style="box-shadow:2px 2px 2px maroon;width:33px;border-radius:30px"><a href='{{items[i].find("td",class_="vertTh").find_next_sibling().find_next_sibling().find_next_sibling().find("a").attrs["href"]}}'><i class="fas fa-arrow-circle-down its" style="color:maroon;font-size:27px"></i></a></div></td>

    </tr>
   {%endif%}
 {%endfor%}   

  </tbody>
 </table>
{%endif%}
{%if lens==1%}

     
     <div align="center"><b><em style="color:maroon;font-size:20px;">Sorry,No Movies Found!</em></b></div>
{%endif%} 

</div>
</div>   
</body>
 <div style="background:maroon">
<footer>
  <div style="background:;"><div align="center" style="padding-bottom:20px;padding-top:10px;"><b><em style="color:black;font-size:25px;">MovieKhor!</em></b></div></div>

</footer>
</div>
</html>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>